{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block styling %}
            <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% endblock styling %}

        {% block javascript %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{#            <script src="static/js/vendor/jquery-2.1.1.js"></script>#}
            <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
            <script src="static/js/plugins.js"></script>
        {% endblock javascript %}

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block rootelement %}
        <div id="root">
        {% endblock rootelement %}
            <header></header>
            <a id="logo" href="/"></a>
            <div id="leftpanel"></div>
            <div id="main_menu">
                <div id="main_menu_wrapper">
                    <canvas id="main" width="192" height="185"></canvas>
                    <canvas id="rent" width="192" height="185"></canvas>
                    <canvas id="school" width="192" height="185"></canvas>
                    <canvas id="services" width="192" height="185"></canvas>
                    <canvas id="galery" width="192" height="185"></canvas>
                    <canvas id="service" width="192" height="185"></canvas>
                    <canvas id="documents" width="192" height="185"></canvas>
                    <canvas id="contacts" width="167" height="185" style="width:167px"></canvas>
                </div>
                <div class="clearfix"></div>
                <script src="{% static 'js/menu.js'%}"></script>
                <script>
                    // отрисовать меню
                    window.mainMenu = new Menu($("#main_menu_wrapper"));
                    mainMenu.addItem('main',"/");
                    mainMenu.addItem('rent',[
                        {id:'quadbikes',url:"/quadbikes"},
                        {id:'motocycles',url:"/motorcycles"},
                        {id:'equipment',url:"/equipment"},
                        {id:'routes',url:"/routes"},
                        {id:'prices',url:"/prices"},
                        {id:'actions',url:"/actions"}
                    ]);
                    mainMenu.addItem('school',"/school");
                    mainMenu.addItem('services',[
                        {id:'corporative',url:"/corporative"},
                        {id:'family',url:"/family"},
                        {id:'photoescort',url:"/photoescort"},
                        {id:'shipping',url:"/shipping"},
                        {id:'gifts',url:"/gifts"}
                    ]);
                    mainMenu.addItem('galery',[
                        {id:'photos',url:"/photos"},
                        {id:'videos',url:"/videos"}
                    ]);
                    mainMenu.addItem('service',"/service");
                    mainMenu.addItem('documents',[
                        {id:'contract',url:"/contract"},
                        {id:'rules',url:"/rules"},
                        {id:'safety',url:"/safety"}
                    ]);
                    mainMenu.addItem('contacts',"/contacts");
                    window.mainMenu.init();
                </script>
            </div>
            <div id="content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        <script>
            $(document).ready(function(){
                <!-- Удалить макер wowslider -->
                jQuery('[href="http://wowslider.com"]').remove();
                $('#logo').on('mousemove', function (e) {
                     window.mainMenu.onItemMouseMove(e, window.mainMenu.firstItem(), null)
                }.bind(this));
                 $('header').on('mousemove', function (e) {
                     $.each(window.mainMenu.getItems(),function(i,item){
                         window.mainMenu.onItemMouseMove(e, item, null);
                     });
                }.bind(this));
            });
        </script>

        <!-- Start Mouse Position Monitoring section -->
        <form name="Show" style="display:none">
            <input type="text" name="MouseX" value="0" size="4"> X<br>
            <input type="text" name="MouseY" value="0" size="4"> Y<br>
        </form>
        <script language="JavaScript1.2">
            <!--
            // Detect if the browser is IE or not.
            // If it is not IE, we assume that the browser is NS.
            var IE = document.all?true:false

            // If NS -- that is, !IE -- then set up for mouse capture
            if (!IE) document.captureEvents(Event.MOUSEMOVE)

            // Set-up to use getMouseXY function onMouseMove
            document.onmousemove = getMouseXY;

            // Temporary variables to hold mouse x-y pos.s
            var tempX = 0
            var tempY = 0

            // Main function to retrieve mouse x-y pos.s

            function getMouseXY(e) {
                if (IE) { // grab the x-y pos.s if browser is IE
                    tempX = event.clientX + document.body.scrollLeft
                    tempY = event.clientY + document.body.scrollTop
                } else {  // grab the x-y pos.s if browser is NS
                    tempX = e.pageX
                    tempY = e.pageY
                }
                // catch possible negative values in NS4
                if (tempX < 0){tempX = 0}
                if (tempY < 0){tempY = 0}
                // show the position values in the form named Show
                // in the text fields named MouseX and MouseY
                document.Show.MouseX.value = tempX
                document.Show.MouseY.value = tempY
                return true
            }

            //-->
        </script>
        <!-- End Mouse Position Monitoring section -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>-->
            <!--(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=-->
            <!--function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;-->
            <!--e=o.createElement(i);r=o.getElementsByTagName(i)[0];-->
            <!--e.src='//www.google-analytics.com/analytics.js';-->
            <!--r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));-->
            <!--ga('create','UA-XXXXX-X');ga('send','pageview');-->
        <!--</script>-->

    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
    (function(){ var widget_id = 'yX2aqCGdpq';
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
    <!-- {/literal} END JIVOSITE CODE -->
    </body>
</html>
