{% extends "base.html" %}
{% load staticfiles %}

{% block styling %}
    {{ block.super }}
{% endblock styling %}

{% block content %}
    <article>
        <h2 class="content-title"><span>Экипировка</span></h2>
        <p><strong>«Эксплуатация техники запрещается  без подходящего по размеру сертифицированного мотошлема и защитной одежды»</strong>
            - эта фраза указана в каждом руководстве пользователя квадроцикла или мотоцикла. Квадроцикл, как и мотоцикл – транспортные средства повышенной опасности. Поэтому безопасность наших посетителей это приоритетная задача для нас при организации поездок.</p>
        <section>
            <h2>Шлем</h2>
            <img style="float: right; margin: 7px 0 0 10px;" src="static/img/content/helmet.jpg">
            <p>
                Самым важным снаряжением для водителя и пассажира квадроцикла является шлем. Большинство компаний, занимающихся прокатом, используют шлемы для кросса. Они отличаются удлиненным “подбородком”, отсутствием визора (специального стекла) и большим козырьком. По нашему мнению использование таких шлемов наиболее актуально в профессиональном мотокроссе, когда взаимодействие с агрессивной средой максимально интенсивно. В прокате квадроциклов, как и в мотопутешествиях по бездорожью на наш взгляд следует использовать шлемы интегралы, или так называемые full fase. Именно таким шлемами мы обеспечиваем наших посетителей. Почему?
                Во-первых, только шлем интеграл имеет максимальные защитные свойства. Обеспечивает эту защиту форма и конструкция шлема. Как становится ясно из его английского названия full face, шлем данного вида полностью закрывает лицо, включая подбородок. Это очень важно, так как в 35 % всех аварий основной удар приходится именно в район подбородка. Цельная конструкция шлемов full face  позволяет так распределить силу удара, что она значительно снижается в области головы и верхних отделов шеи. Шлемы которыми мы обеспечиваем наших посетителей представляют собой скорлупу–капсулу полностью выполненную из карбона армированного композитными нитями, расположенными в различных направлениях. Так же уровень защиты всех наших шлемов обеспечен за счёт внутреннего многоэлементного ударного поглотителя с различной плотностью для дифференцируемого рассеивания ударной нагрузки.
                Во-вторых, специальное стекло – визор обеспечивает максимальный обзор, что является безусловным преимуществом, как для водителя, так и для пассажира. Кроме того, визор полноценно защищает лицо от пыли, мусора, насекомых, воды и ветра во время движения, а боковые механизмы визора позволяют открывать его и фиксировать в различных положениях.
                В-третьих, комфорт. Мы используем шлемы снабженные многоканальной системой вентиляции, специальными вентиляционными отверстиями и регулируемыми воздушными заслонками. Благодаря всему этому в наших шлемах не запотевают стекла, а так же во время активной внедорожной езды водитель всегда обеспечен необходимым количеством кислорода.
            </p>
        </section>
        <section>
            <h2>Защитный панцирь</h2>
            <p>
                Черепаха – именно так сейчас называется защитный панцирь, когда-то придуманный в Италии. Черепаха – это сетчатая куртка с нашитыми на нее защитными щитками, находящимися на жизненно важных местах. Как правило, черепаха изготовлена из синтетических материалов. Эластичная гибкая воздухопроницаемая сетка прекрасно повторяет форму тела, помогая защитным элементам располагаться в нужных местах, не смещаться и не мешать в движении.
                Черепахи бывают разных типов, самыми распространенными являются: кроссовые и шоссейные. Мы предлагаем нашим гостям шоссейные черепахи. Они имеют хорошую защиту от ударов, которую гарантируют и жесткие щитки, и ударопоглащающие вставки под ними, выполненные из пены. Защита спины представляет собой пластиковые пластины, соединенные между собой специальным способом. Такой способ дает гарантию, что при поглощении удара, его сила равномерно распределится по всей поверхности защиты. Благодаря эргономичной форме, защита спины черепахи предохраняет от скручивания. Защита плеч и локтей выполнена из прочного пластика, предохраняет суставы от ушибов и трения. Рукава черепахи имеют специальную фиксацию на запястьях. Это позволяет защитным элементам не смещаться со своих мест. Так же в наших черепахах имеется защита груди и ребер и усиленный защитный пояс на липучке, который дает дополнительную защиту и плотную фиксацию черепахи на теле. Наши черепахи имеют возможность корректировки размера с помощью специальных утяжек. Это существенно повышает комфорт и безопасность наших гостей.
            </p>
            <div style="text-align: center">
                <img src="static/img/content/armour.jpg">
            </div>
        </section>
        <section>
            <h2>Влагозащитная одежда</h2>
            <p>
                Кроме защитной экипировки мы обеспечиваем всех наших посетителей влагозащитной одеждой. Специальные костюмы из влагоотталкивающей ткани и непромокаемая обувь прекрасно защищают наших гостей  от дождя, грязи и влаги.
            </p>
            <div style="text-align: center">
                <img src="static/img/content/overalls.jpg">
            </div>
        </section>
    </article>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}