{% extends "base.html" %}
{% load staticfiles %}

{% block styling %}
    {{ block.super }}
    <style>
        .image-block{ display:block;position: relative;}
        .image-block img{border: 1px solid #d5d5d5; border-radius: 4px 4px 4px 4px;background:#FFFFFF;padding:5px;}
        .image-block img:hover{border: 1px solid #A9CF54;box-shadow:0 0 5px #A9CF54;}
        .portfolio-area li{float: left;margin: 5px;overflow: hidden;width: 180px;}
        .portfolio-area{padding:0;width:950px;}
      </style>
    <link href="static/vendor/jquery-photo-gallery/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
{% endblock styling %}

{% block javascript %}
    {{ block.super }}
     <script src="static/vendor/jquery-photo-gallery/js/jquery.easing.js" type="text/javascript"></script>
     <script src="static/vendor/jquery-photo-gallery/js/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            if (jQuery().prettyPhoto) {
                jQuery("a[rel^='prettyPhoto']").prettyPhoto({
                    animationSpeed: 'fast',
                    slideshow: 5000,
                    theme: 'light_rounded',
                    show_title: false,
                    overlay_gallery: false
                });
            }
        });
    </script>
{% endblock javascript %}

{% block content %}
<div class='content_wrapper'>
    <h2 class="content-title"><span>Фотогалерея</span></h2>

    <ul class="portfolio-area">
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/1.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/1.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/2.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/2.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/3.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/3.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/4.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/4.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/5.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/5.jpg" />
                    </a>
                </span>
			</div>
        </li>        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/6.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/6.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/7.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/7.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/8.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/8.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/9.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/9.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/10.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/10.jpg" />
                    </a>
                </span>
			</div>
        </li>        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/11.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/11.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/12.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/12.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/13.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/13.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/14.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/14.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/15.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/15.jpg" />
                    </a>
                </span>
			</div>
        </li>        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/16.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/16.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/17.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/17.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/18.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/18.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/19.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/19.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
			<div>
                <span class="image-block">
					<a class="image-zoom" href="static/img/gallery/big/20.jpg" rel="prettyPhoto[gallery]">
                        <img width="168" height="100" src="static/img/gallery/thumbs/20.jpg" />
                    </a>
                </span>
			</div>
        </li>
        <div class="column-clear"></div>
    </ul><!--end portfolio-area -->
</div>

{% endblock content %}
