{% extends "base.html" %}
{% load staticfiles %}

{% block styling %}
    {{ block.super }}
    <style>
        #video12 {
            position: relative;
            padding-bottom: 75%;
            margin-top: 10px;
        }
        #video12 iframe {
          position: absolute;
          width: calc(100% - 120px);
          height: calc(100% - 120px*3/4);
        }
        #video12 div {
          position: absolute;
          top: 0;
          right: 0;
          width: 110px;
          height: 100%;
          padding: 5px;
          overflow-y: auto;
        }
        #video12 img {
          width: calc(100% - (5px + 1px)*2);
          padding: 5px;
          border: 1px solid #555;
          border-radius: 5px;
          opacity: .7;
        }
        #video12 img:hover {
          opacity: 1;
          cursor: pointer;
        }
        #video12 img:focus {
          opacity: .2;
        }
    </style>
{% endblock styling %}

{% block content %}
<div class='content_wrapper'>
    <h2 class="content-title"><span>Видео</span></h2>
    <div id="video12">
      <iframe src="http://www.youtube.com/embed/xFa2_PVMeDQ?rel=0" allowfullscreen="" frameborder="0"></iframe>
      <div>
        <img src="http://img.youtube.com/vi/xFa2_PVMeDQ/1.jpg" tabindex="2" data-start="32" data-end="60"/>
        <img src="http://img.youtube.com/vi/hSrOpTYKNMw/1.jpg" tabindex="2"/>
        <img src="http://img.youtube.com/vi/WFhzzJjRncI/1.jpg" tabindex="2"/>
      </div>
    </div>
</div>
<script>
    var IMG = document.querySelectorAll('#video12 img'),
        IFRAME = document.querySelector('#video12 iframe');
    for (var i = 0; i < IMG.length; i++) {
      IMG[i].onclick = function() {
        var idIMG = this.src.replace(/http...img.youtube.com.vi.([\s\S]*?).1.jpg/g, '$1');
        IFRAME.src = 'http://www.youtube.com/embed/' + idIMG + '?rel=0&autoplay=1';
        if(this.dataset.end) IFRAME.src = IFRAME.src.replace(/([\s\S]*)/g, '$1&end=' + this.dataset.end);
        if(this.dataset.start) IFRAME.src = IFRAME.src.replace(/([\s\S]*)/g, '$1&start=' + this.dataset.start);
        this.style.backgroundColor='#555';
      }
    }
</script>
{% endblock content %}

{% block rootelement %}
<div id="root" class="background">
{% endblock rootelement %}

